.Order {
  width: 90%;
  height: 10%;
  border: black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: left;
  padding-left: 20px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
